<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="aa angga's restaurant logbook. Served just for you!">
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#1e5de6"/>
  <link rel="icon" href="favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>aa restos</title>
</head>

<body>
  <a href="#mainContent" class="skip-link">Skip to content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton" aria-label="navigation-menu" tabindex=”0”>☰</button>
    </div>
    <div class="app-bar__brand">
      <a href="/"><h1>aa restos</h1></a>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#/favorites">Favorites</a></li>
        <li><a href="https://anggastudio.com" target="_blank" rel="noopener">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent">
    <!-- content goes here -->
  </main>
  <footer>
    <div class="container h-full">
        <div class="footer-content">
            <div class="footer-left">
                <p>Copyright &copy; 2021 | aa restos</p>
            </div>
            <div class="footer-right">
                <p>Developed by <span><a href="https://www.instagram.com/angga.studio/" target="_blank" rel="noopener">@angga.studio</a></span></p>
            </div>
        </div>
    </div>
</footer>
</body>

</html>